<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css" >

<!--  Title is added on each page separately in routs.py 'title' variable -->
    <title>{% block title %}{% endblock %}</title>

<!--    Show flashing messages if any -->
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</head>

<body>
<!-- Top navigation menu -->
    <nav>
        <ul id="nav_ul">
            <li class="nav_li"><a href="{{ url_for('index') }}" class="nav_li_a">Home</a></li>
            <li class="nav_li"><a href="{{ url_for('employees') }}" class="nav_li_a">Employees</a></li>
            <li class="nav_li"><a href="{{ url_for('departments') }}" class="nav_li_a">Departments</a></li>
        </ul>
    </nav>

<!-- Page content -->
    {% block content %}
    {% endblock %}

<!-- Footer navigation menu-->
    <footer class="foot">
        <p>&copy Korystuvach 2021</p>>
    </footer>

</body>
</html>