{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="login">
        <h1>Login:</h1>
        {% if error %}
            <p class="error">Error:</p> {{ error }}
        {% endif %}
        <form method="post" name="login_form">
            <table>
                <tr>
                    <td>Username:
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td><a href="{{ url_for('register') }}">Register</a></td>
                    <td><input type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}